/*this is the tip arrow bracket*/
#tooltip-parent .tooltip-top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 25%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #222 transparent transparent transparent;
}

.margin-top-fix {
  display: block;
  margin: 6em auto 0;
}

#tooltip-parent {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
}

#tooltip-parent {
  position: relative;
  display: inline-block;
}

#tooltip-parent .tooltip-top {
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  width: 120px;
  background-color: #222;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: visibility 0s linear 400ms, opacity 300ms;
}

#tooltip-parent:hover .tooltip-top {
  opacity: 1;
  transition: visibility 0s linear 400ms, opacity 300ms;
}


/*bottom-tooltip*/


/*this is the tip arrow bracket*/
#tooltip-parent .tooltip-bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 25%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #222 transparent;
}

#tooltip-parent .tooltip-bottom {
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  letter-spacing: 1.05;
  transition: visibility 0s linear 400ms, opacity 300ms;
}

#tooltip-parent:hover .tooltip-bottom {
  opacity: 1;
  transition: visibility 0s linear 400ms, opacity 300ms;
}